
/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
  }


/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 闪烁变动颜色连续渐变 */
#site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
  transition: text-shadow 1s linear !important;
}  




/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}
/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}
/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #5636ed 0 0 15px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
  }
  25% {
    text-shadow: #f14747 0 0 15px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
  }
  50% {
    text-shadow: #b347f1 0 0 15px;
  }
  62.5% {
    text-shadow: #002afa 0 0 15px;
  }
  75% {
    text-shadow: #ed709b 0 0 15px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 15px;
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #5636ed 0 0 10px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
  }
  25% {
    text-shadow: #f14747 0 0 10px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
  }
  50% {
    text-shadow: #b347f1 0 0 10px;
  }
  62.5% {
    text-shadow: #002afa 0 0 10px;
  }
  75% {
    text-shadow: #ed709b 0 0 10px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 10px;
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #5636ed 0 0 5px;
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
  }
  25% {
    text-shadow: #f14747 0 0 5px;
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
  }
  50% {
    text-shadow: #b347f1 0 0 5px;
  }
  62.5% {
    text-shadow: #002afa 0 0 5px;
  }
  75% {
    text-shadow: #ed709b 0 0 5px;
  }
  87.5% {
    text-shadow: #39c5bb 0 0 5px;
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
  }
}


/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}



/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite; /*转速*/
}


/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #c261bb;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #be94ce;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #8739a5;
  }
}



/* 一图流 */
/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
/* #page-header {
  background: transparent !important;
} */

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}



/* 标签 */

/* #aside-content .card-tag-cloud a {
  border: 2px solid;
  line-height: 1.5;
  border-radius: 6px;
  margin: 3px;
  padding: 0 5px;
}

.tag-cloud-list a {
  border: 2px solid;
  line-height: 1.5;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.2rem;
  margin: 5px;
 
} */

/* 加载动画 */
.loading-img {
  background: url(/img/laopo.webp) no-repeat center center;
  background-size: cover;
}



/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -125px;
}

#menus>div.menus_items>div>a {
  letter-spacing: 0.3rem;
  padding-left: 0.7rem;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
}



/* logo居中 */
#weblogo {
  align-self: center;
}

#footer-wrap a#seveneblog_footerlogo:hover {
  background: var(--sevene-none);
}

.seveneblog_footerlogo_img {
  filter: drop-shadow(0 12px 12px #ee7d7936);
}

.seveneblog_footerlogo_img:hover {
  transform: scale(1.03);
}

/* 文章卡片高度 */
#recent-posts .recent-post-item {
  height: fit-content;
  background: var(--sevene-card-bg);
  border-radius: 13px;
  cursor: pointer;
  border: var(--style-border);
}



/*各个板块的css */
/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.8);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.8);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.8);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.8);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.8);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.8);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.8);
}

/* 指定首页文章卡片高度 */
#recent-posts>.post-card-large {
  height: 20em!important;
}

#recent-posts > .post-card-large >.recent-post-info > .content{
  -webkit-line-clamp: 5!important;
}



/* 鼠标样式 */
/* body {
  cursor: url("https://cdn.jsdelivr.net/gh/xlenco/JS-X@main/mouse/normal.cur"), default;
}
a,
img,
button {
  cursor: url("https://cdn.jsdelivr.net/gh/xlenco/JS-X@main/mouse/link.cur"), default !important;
} */

/* 鼠标样式 */
body {
  cursor: url("https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/default.cur"), default;
}
a,
img,
button {
  cursor: url("https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/pointer.cur"), default !important;
}


/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(#49B1F5);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: var(	#49B1F5);
}



/* 头像栏信息 */
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}


/* #home_top {
  margin: 0 auto 0;
  padding: 0 15px 20px;
  max-width: 1450px;
  width: 100%;
  overflow: hidden
} */

#home_top {
  margin: 0 auto 0;
  padding: 0px 15px;
  max-width: 1280px;
  width: 100%;
  
}






[data-theme="dark"] #universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

canvas#universe {
  display: none;
}



.page .layout, .post .layout {
  max-width: 1450px;
}

/* 搜索按钮大小 */
#nav #search-button {
  font-size: 1.8em;
}


/* valine更改样式 */
#veditor {
	background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login-v2/img/22_open.4ea5f239.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}


/* 腾讯地图定位欢迎 */
#welcome-info {
  background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login-v2/img/33_open.f7d7f655.png);
  background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
  border-radius: 15px;
  --icat-ip-color: #b818b6;
  --icat-gl-size: 16px!important;
}

/* 公告顶部欢迎信息 */




/* 友链效果 */
.flink-item-icon {
  margin-right: 0 !important;
  transition: .5s !important;
}
  
.flink-item-name,
.flink-item-desc {
  padding-left: 10px !important;
}
/* 头像微调 */
  
#article-container .flink .flink-list>.flink-list-item::before {
  content: none;
}
/* 去掉原来自带的before */

#article-container .flink .flink-list>.flink-list-item:hover {
  background-color: #49B1F5;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
/* 鼠标经过改变背景 */

#article-container .flink .flink-list>.flink-list-item:hover a {
  color: rgb(27, 241, 216) !important;
}
/* 鼠标经过改变文字颜色 */

#article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
  width: 60px;
  margin-left: -70px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* 鼠标经过头像滚动 */

/* 友链样式调整 */


/* 即刻短文 */
#bber .timeline #waterfall.show {
  opacity: 1;
}

#bber .timeline ul li.item {
  position: relative;
  width: 32%;
  border: var(--style-border-always);
  border-radius: 12px;
  padding: 1rem 1rem 0.5rem;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--Jay-card-bg);
  box-shadow: var(--Jay-shadow-border);
  margin-right: 2%;
}

#bber .timeline ul li.item hr {
  display: flex;
  position: relative;
  margin: 8px 0px;
  border: 1px dashed var(--Jay-theme-op);
  width: 100%;
}

@media screen and (max-width: 768px) {
  #bber .timeline ul li.item {
      padding: 0px;
  }
}

#bber .timeline ul li.item:hover {
  border: var(--style-border-hover);
}

#bber ul.list {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}

#bber li.item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

@media screen and (max-width: 1300px) {
  #bber .timeline ul li.item {
      width: 49%;
      margin-right: 1%;
  }
}

@media screen and (max-width: 768px) {
  #bber .timeline ul li.item {
      width: 100%;
      margin-right: 0px;
  }

  #bber .timeline ul li.item {
      padding: 16px 20px;
  }
}

.timeline ul .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bb-info {
  display: inline;
  float: right;
  line-height: 1;
  color: var(--Jay-secondtext);
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.bb-info:hover {
  color: var(--Jay-hovertext);
}

#bber {
  margin-top: 1rem;
  width: 100%;
}

#bber div.bber-content {
  display: flex;
  flex-flow: wrap;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#bber > section > ul > li.item {
  margin-bottom: 1rem;
}

#bber .bber-info {
  display: flex;
  align-items: center;
}

#bber .bber-info .fa-rectangles-mixed {
  margin-right: 8px;
}

#bber .bber-content-link {
  display: flex;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  align-items: center;
  background-color: rgba(245, 108, 108, 0.13);
  color: rgb(245, 108, 108);
  padding: 0px 8px;
  border-radius: 20px;
}

#bber .bber-content-link:hover {
  background-color: var(--Jay-main);
  color: var(--Jay-white);
}

#bber .bber-content-link i {
  font-size: 16px;
  margin-right: 3px;
}

#bber .bber-reply {
  cursor: pointer;
  padding: 0px 4px;
}

#bber .bber-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

#bber .count {
  color: var(--Jay-secondtext);
  font-size: 0.8rem;
}

#bber p {
  margin: 0px;
}

#bber .datafrom i {
  margin-right: 4px;
}

#bber .bber-music {
  width: 100%;
  height: 90px;
  margin: 0.5rem 0px;
  border-radius: 8px;
  overflow: hidden;
  border: var(--style-border-always);
  background: var(--Jay-secondbg);
}

#bber .aplayer {
  margin: 0px;
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0px;
  color: var(--Jay-black);
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
  height: 82px;
  width: 82px;
  margin: 4px;
  border-radius: 4px;
}

#bber .aplayer .aplayer-info .aplayer-music {
  height: 23px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  padding: 0px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: var(--Jay-gray);
  height: 8px;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar {
  height: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  display: none;
}

#bber .aplayer .aplayer-info .aplayer-controller {
  align-items: center;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}

#bber .bber-music .aplayer-lrc {
  display: none;
}

#bber-tips {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#bber .bber-content-img img {
  object-fit: cover;
  max-height: 100%;
  border-radius: 12px;
}

#bber .bber-content-img {
  height: 100px;
  margin: 0.2rem auto 0.3rem 0px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
}

#bber > section > ul > li > div .bber-info-time {
  color: var(--Jay-fontcolor);
  font-size: 0.7rem;
  background-color: var(--Jay-gray-op);
  padding: 0px 8px;
  border-radius: 20px;
  cursor: default;
  display: flex;
  align-items: center;
}

#bber > section > ul > li > div .bber-info-time i {
  margin-right: 8px;
  font-size: 16px;
}

#bber .bber-content .datacont {
  order: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--Jay-fontcolor);
  width: 100%;
  line-height: 1.38;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#bber > section > ul > li > div .datafrom {
  order: 2;
  color: var(--Jay-secondtext);
  font-size: 0.7rem;
  margin-left: 8px;
}

#bber > section > ul > li > div .datafrom small {
  font-size: 0.7rem;
}

.load-btn.button-load {
  background: var(--Jay-card-btn-bg);
  color: var(--Jay-fontcolor);
  padding: 12px;
  margin: 1.5rem 0px 0px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.load-btn.button-load:hover {
  background: var(--Jay-blue);
  color: var(--Jay-white);
  transition: all 0.3s ease 0s;
  box-shadow: var(--Jay-shadow-blue);
}

#cf-container a {
  width: fit-content;
}

#hexo-circle-of-friends-root {
  margin: 0px -8px;
}

.moments-list {
  display: flex;
  flex-direction: column;
}

.moments-list .article-sort-item-info {
  display: flex;
  flex-direction: column;
}

.article-sort-item-info-more {
  display: flex;
  font-size: 0.7rem;
  margin-right: auto;
}

.friend_post_time {
  margin-left: 8px;
  color: var(--Jay-secondtext);
}

.friendlink-avatar {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 32px;
  overflow: hidden;
  background: var(--Jay-secondbg);
  padding: 0px !important;
}

.friendlink-avatar:hover {
  background: var(--Jay-secondbg);
  border-radius: 32px !important;
}

.moments-list .article-sort-item-info .article-sort-item-title {
  color: var(--Jay-lighttext);
}

.moments-list .article-sort-item-info .article-sort-item-title:hover {
  color: var(--Jay-hovertext);
}

a.bb-link {
  margin-left: 8px;
  display: inline;
  color: var(--Jay-secondtext) !important;
  border: none !important;
}

a.bb-link-info {
  display: inline;
  float: right;
  line-height: 2.7rem;
  border: none !important;
  color: var(--Jay-secondtext) !important;
}

a.bb-link-info:hover {
  color: var(--Jay-fontcolor) !important;
  background: none !important;
}

#friend_link_moments {
  border: none !important;
}

.moments-article-img {
  height: 100%;
  margin: 0px !important;
}

.tab-item-content #moments_container .moments-item a {
  border-bottom: none;
  padding: 0px;
  margin-right: auto;
  width: auto;
}

.tab-item-content #moments_container .moments-item a:hover {
  background: none;
  color: var(--Jay-lighttext);
  box-shadow: none;
}

.tab-item-content #moments_container h2 {
  display: none;
}

#friend_moments_list .moments-sort-item {
  margin: 1rem 0px;
}

.moments-sort-item-img {
  border-radius: 12px;
}

.moments-item-time {
  order: 1;
}

.moments-sort-item-title {
  color: var(--Jay-lighttext);
  border-bottom: none !important;
  padding: 0px !important;
}

.moments-sort-item-title:hover {
  color: var(--Jay-hovertext) !important;
  background: none !important;
  box-shadow: none !important;
}

.friendlink-avatar {
  border-bottom: none !important;
}

.moments_load_button {
  transition: all 0.3s ease 0s;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--Jay-fontcolor) !important;
  background: var(--Jay-card-btn-bg) !important;
  padding: 12px 16px !important;
  border-radius: 12px !important;
  border: 0px !important;
}

.moments_load_button:hover {
  transition: all 0.3s ease 0s;
  color: var(--Jay-white) !important;
  background: var(--Jay-main) !important;
}

.moments-item-title {
  color: var(--Jay-lighttext);
  font-size: 1rem;
  order: 0;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 !important;
}

.moments-item-info {
  display: flex;
  flex-direction: column;
}

.moments_post_time {
  display: none;
}

.moments_post_time i {
  margin-right: 8px;
}

.chart {
  align-items: flex-start;
  flex: 1 1 0%;
  width: 100px;
  height: 60px;
  margin: 20px;
}

.moments-item-title {
  font-weight: bold;
}

.moments_post_info_number {
  float: right;
}

@media screen and (max-width: 500px) {
  #info_user_pool {
      padding: 10px;
      flex-direction: column;
      max-height: 200px;
  }

  .chart {
      flex: 0 1 0%;
      width: 100%;
      height: 160px;
      margin: 0px;
  }
}

.moments-item-img {
  width: 60px !important;
  height: 60px !important;
}

.moments-item-img img {
  border-radius: 99px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

#info_user_pool {
  background: var(--Jay-secondbg);
  margin-top: 1rem;
  border-radius: 12px !important;
  box-shadow: none !important;
}

.moments-item {
  margin-left: 0px !important;
  box-shadow: none !important;
}


.layout#content-inner {
  max-width: 1400px;
}

.layout {
  display: flex;
  margin: 0px auto;
  max-width: 1200px;
  padding: 1rem 1.5rem;
}


/* 首页分类条展示 */
#category-bar {
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--sevene-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
  transition: 0.3s;
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 1300px) {
  #category-bar:hover {
    border: var(--style-border-hover);
    box-shadow: var(--sevene-shadow-main);
  }

  .category-in-bar-tips {
    margin-bottom: .25rem;
  }
}

@media screen and (max-width: 768px) {
  #category-bar {
    border-radius: 0;
    background: var(--sevene-background);
    margin-bottom: 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1;
    padding: 0rem 1rem 0rem 16px;
    height: 50px;
    margin-top: 0;
    align-items: center;
  }
}

#category #category-bar {
  padding: 0;
  border: none;
  box-shadow: none;
}

#category a.category-bar-item.select a {
  display: none;
}

.category-in-bar {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.category-in-bar-tips {
  margin-right: 1rem;
}

.category-bar-items {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}

.category-in-bar .category-in-bar-tips {
  margin-bottom: 0;
}

.category-in-bar #category-bar {
  margin-bottom: 0;
}


.category-bar-items::-webkit-scrollbar {
  display: none;
}

.category-bar-item a {
  padding: 0.1rem 0.5rem;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
}

.category-bar-item:hover a {
  background: var(--sevene-theme);
  color: var(--sevene-white);
}

.category-bar-item.select a {
  background: var(--sevene-theme);
  color: var(--sevene-white);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .category-bar-item.select a {
    border-radius: 8px;
  }

  .category-bar-item a {
    border-radius: 8px;
  }

  .category-in-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background: var(--sevene-background);
    z-index: 1002;
  }
}

.category-bar-item a {
  padding: 0.1rem 0.5rem;
  margin: 0 4px;
  font-weight: bold;
  border-radius: 8px;
}

.category-bar-item:hover a {
  background: #002afa;
  color: #002afa;
}

a {
  background-color: transparent;
  color: var(--sevene-fontcolor);
  text-decoration: none;
  transition: all 0.2s ease 0s;
  overflow-wrap: break-word;
}


.category-bar-item.select a {
  background: #425AEF;
  color: var(--sevene-white);
  border-radius: 8px;
}

/*首页文章栏*/

.recent-post-item .recent-post-info .article-title {
  font-weight: 800
}




/* Twikoo 评论样式 */


.tk-input .el-textarea__inner {
  background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login-v2/img/22_open.4ea5f239.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical;
  min-height: 120px !important;
}

#twikoo .OwO-body {
  max-width: 100% !important;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(1),
#twikoo .OwO .OwO-body .OwO-items:nth-child(4) {
  max-height: 360px !important;
}

#twikoo .OwO-items li[title|=menhera] img {
  width: 100% !important;
  margin: 5px 10px;
}

.tk-comment .tk-owo-emotion[alt*=menhera] {
  width: 300px !important;
}

.tk-comment .vemoji[alt|=menhera],
.tk-comment .tk-owo-emotion[alt*=menhera] {
  max-width: 300px !important;
  max-height: 300px !important;
  margin: 8px 1px;
  display: block !important;
}

@media screen and (max-width: 768px) {
  .tk-comment .vemoji[alt|=menhera], .tk-comment .tk-owo-emotion[alt*=menhera] {
      max-width: calc(100% - 30px) !important;
      max-height: calc(100% - 30px) !important;
  }
  .OwO .OwO-body .OwO-items-image .OwO-item[title*=menhera] {
      max-width: calc(50% - 10px);
      box-sizing: border-box;
  }
  
}


/* 最新文章
.newPost-left,
.newPost-right::before {
    content: "new";
    width: 3rem;
    height: 2rem;
    border-radius: 8px;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
} */

/* 右侧推荐文章 */

top_post_group{
  display: flex;
  position: relative;
}
.top_post_group .top_post_item {
  display: flex;
  width: 200px;
  min-width: 200px;
  height: 164px;
  max-height: 164px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: var(--mj-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border);
}
.top_post_group .top_post_item:hover {border: var(--style-hover-border);}
.top_post_group .top_post_item .post_cover {
  width: 100%;
  height: 110px;
  position: relative;
}
.top_post_group .top_post_item .post_cover img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  background: var(--mj-secondbg);
}
.top_post_group .top_post_item .post_cover .post_cover_info {
  position: absolute;
  top: 0;
  width: 101%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.7) !important;
  transition: all 0.3s ease;
  display: flex;
} 
.top_post_group .top_post_item:hover .post_cover .post_cover_info{
  opacity: 1;
}
.top_post_group .top_post_item .post_cover .post_cover_info .post_cover_text{
  color: #fff;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.top_post_group .top_post_item:hover .post_info,
.top_post_group .top_post_item:focus .post_info{
  /*background: var(--mj-theme);*/
  box-shadow: inset 0 -60px 0 0 var(--mj-theme);
}
.top_post_group .top_post_item .post_info a{
  color: var(--mj-fontcolor) !important;
  transition: 0;
}
.top_post_group .top_post_item:hover .post_info a{
  color: var(--mj-white) !important;
}
.top_post_group .top_post_item .post_info {
  padding: .2rem .5rem .3rem .5rem!important;
  transition: .3s;
  width: 100%;
  height: 100%;
}
.top_post_group .top_post_item .post_info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  font-weight: 600;
  font-size: .8rem!important;
  padding: 0!important;
}


