导航栏居中
#nav-right {
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
  }

  #nav *::after{
    background-color: transparent!important;
}

#nav .menus_items {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.4em;
}