导航栏居中
#nav-right {
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
  }

  #nav *::after{
    background-color: transparent!important;
}

